{{ define "content" }}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center pt-5 pb-5">
                <p>A little over a month ago I saw the graphs of the transmission rates of covid19. I thought we were in for a terrifying ride, and spoke with my family about it. My dad agreed and put in an order for two boxes of latex gloves and two boxes of surgical masks.</p>

                <p>Fast forward to today, we're entering a time of unprecedented strain on our public health systems. Medical staff around the world are reporting from the frontlines that the supply of PPE (personal protective equipment) is inadequate, putting their lives and their patients' lives at risk.</p>

                <p>Now my family has no need for these 100 masks or 100 gloves. We're not going out anyways and there's no way I'm letting them sit in storage unused in our house when they could be used to save lives.</p>

                <p>My bet is there are many more of you out there just like me. You meant no harm in ordering this equipment ahead. You just wanted to be prepared and keep yourselves and your loved ones safe. But now it's time to reroute these things to the hospitals that desperately need them.</p>

                <p>Last night I was watching PBS NewsHour and <a href="https://youtu.be/SCM92K0RiLk?list=WL&t=13" target="_blank" rel="noopener noreferrer">Mark Shields put this in a historical context</a>. He said that during the beginning of WWII, Americans started 20 million Victory Gardens and produced 1/3 of the nation’s vegetables. Historically, we get through these things by collective sacrifice and collaboration. It made me think... where's my victory garden? So as long as I'm holed up here and a nerd who can code I thought I should chip in how I can. I at least feel like I'm doing something instead of just scrolling through twitter watching this bubble over.</p>

                <p>Let's chip in what we've got.</p>

                <a href="/volunteer">Click here to volunteer</a>
            </div>
        </div>
    </div>
{{ end }}