{{ define "content" }}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center pt-5 pb-5">
                <p>If you are hospital staff, email us at <a href="mailto:contact@donatetohospitals.com">contact@donatetohospitals.com</a></p>
                <p>Please let us know:
                    <ul>
                        <li>Hospital name and location</li>
                        <li>Contact info (name and contact method like phone number) for future communication</li>
                        <li>Any equipment you need</li>
                        <li>Your requirements for the condition of the items you receive</li>
                        <li>If you would accept homemade/3D printed eqipment</li>
                        <li>Shipping address and instructions</li>
                        <li>If you accept local drop off, and if so, any relevant instructions for how you would like for it to be done safely and securely</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
{{ end }}