{{ define "supplier" }}
    <div class="card mb-5">
        {{ if .ImageUrl }}
            <img class="card-img-top text-center" src="{{ .ImageUrl }}" alt="Supplier image">
        {{ end }}
        <div class="card-body">
            <h5 class="card-title">Supplier {{ if .Geo }} in {{ .Geo }} {{ end }}</h5>
            <p class="card-text">
            <ul>
                {{ range .Items }}
                    <li>
                        {{ .Name }}: {{ .Count }}
                    </li>
                {{ end }}
            </ul>
            </p>
        </div>
    </div>
{{ end }}