{{ define "supplier" }}
    <div class="card mb-5">
        <img class="card-img-top text-center" src="http://placehold.it/300x200" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Supplier {{ .Index }}</h5>
            <p class="card-text">
            <ul>
                <li>
                    Gloves: 100
                </li>
                <li>
                    Masks (surgical): 50
                </li>
                <li>
                    Masks (N95): 10
                </li>
            </ul>
            </p>
        </div>
    </div>
{{ end }}