{{ define "content" }}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center pt-5 pb-5">
                <p>We're happy with any help people are willing to provide</p>
                <p>You can see the <a href="https://www.github.com/donatetohospitals/donatetohospitals-web" target="_blank" rel="noopener noreferrer">github repo here</a></p>
                <p>Ongoing work is tracked in the <a href="https://github.com/donatetohospitals/donatetohospitals-web/projects/1" target="_blank" rel="noopener noreferrer">project board</a></p>
                <p>Collaboration will take place in the <a href="https://discord.gg/7sPZRKQ" target="_blank" rel="noopener noreferrer">discord chat</a>. This would be a great place to start to ask how you can help.</p>
                <p>Email us at <a href="mailto:contact@donatetohospitals.com">contact@donatetohospitals.com</a></p>
            </div>
        </div>
    </div>
{{ end }}